@page "/"
@using Clockify4PSIntegration.App.Api4PS.Responses
@using Clockify4PSIntegration.App.Api4PS;
@inject Api4PSService Api4PS

<PageTitle>Home</PageTitle>

<a href="4ps-demo">4PS Demo</a>
<a href="clockify-demo">Clockify Demo</a>
