@page "/"
@using Clockify4PSIntegration.App.Api4PS.Request
@using Clockify4PSIntegration.App.Api4PS.Responses
@using Clockify4PSIntegration.App.Api4PS;
@inject Api4PSService Api4PS

<PageTitle>Home</PageTitle>

@if (UserInfo is not null)
{
    <h1>Hello, @UserInfo.DisplayName!</h1>
}
else
{
    <h1>Hello, world!</h1>
}

@if (Projects is not null)
{
    <ul>
        @foreach (var project in Projects)
        {
            <li>@project</li>
        }
    </ul>
}

@if (Lines is not null)
{
    <ul>
        @foreach (var line in Lines)
        {
            <li>@line</li>
        }
    </ul>
}

@code {

    UserInfoResponse? UserInfo;
    ProjectResponse[]? Projects;
    LineResponse[]? Lines;

    protected override async Task OnInitializedAsync()
    {
        // var createLineRequest = new CreateLineRequest
        // {
        //     Year = 2024,
        //     Week = 42,
        //     ObjectNo = "PR61000479",
        //     Element = "00.00.0022",
        //     Comment = "Test comment demo",
        //     Monday = 1, 
        //     Wednesday = 4,
        // };

        // await Api4PS.CreateLineAsync(createLineRequest);

        UserInfo = await Api4PS.GetUserInfoAsync();
        Projects = await Api4PS.GetProjectsAsync();
        Lines = await Api4PS.GetLinesAsync(2024, 42);
    }

}